<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="R2G_Clientes.R2G_Clientes" android:theme="@android:style/Theme.Holo.Light">
	<uses-sdk />
	<application android:label="R2G_Clientes">
	</application>
</manifest>